<launch>

  <!-- Start RealSense driver -->
  <include file="$(find realsense2_camera)/launch/RV6L.launch" />

  <!-- Start rv6l_3d -->
  <include file="$(find darknet_ros_3d)/launch/RV6L.launch" />
  
  <!-- Start hardware interface -->
  <include file="$(find rsv_cartesian_interface)/test/test_hardware_interface.launch" /> 

</launch>
